:host {
  .header {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0;

    > * {
      margin-bottom: 10px;
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 22px;

    ion-badge {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;

      ion-icon {
        margin-right: 5px;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }

  app-map {
    display: flex;
    width: 360px;
    height: 200px;
  }
}
