:host {
  .profile-picture {
    display: flex;
    position: relative;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
  }

  .initials {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 62px;
  }

  .profile-picture-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
      font-size: 48px;
      color: #fff;
    }
  }
}
